doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 bienvenue sur Toit et joie
        block content 

        footer 
            div un super top footer